<nav id="navbar">
  <button class="nav-button" data-url="/" id="navMPButton">Strona Główna</button>
  <select class="nav-select" id="combobox">
    <option value="">Zobacz gry</option>
    <option value="/morris">Młynek</option>
    <option value="/lascars">Laskars</option>
    <option value="/hnef">Hnefatafl</option>
  </select>
  <button class="nav-button" data-url="/login" id="navLogButton">Zaloguj się</button>
  <button class="nav-button" data-url="/register" id="navRegButton">Zarejestruj się</button>
</nav>