<!DOCTYPE html>
<html lang="pl">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Tagmata, gry historyczne</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>

<body>
	<%- include('./partials/_header.ejs') %>
	<%- include('./partials/_navbar.ejs') %>
	
			<div class="indexmain">
				<div class="left-panel">

				</div>

				<div class="center-panel">
					<section id="gamename">

					</section>
					<img id="gameimg"
						src="../photos/free-vector-nine-mens-morris-game-board-clip-art_105069_Nine_Mens_Morris_Game_Board_clip_art_hight.png"
						alt="morris">
				</div>

				<div class="right-panel">

				</div>
			</div>

			<%- include('./partials/_footer.ejs') %>

			<script src="/javascripts/scripts.js"></script>
</body>

</html>